<h1 class="title">To Do List</h1>
<div class="start-creator" style="height: 2rem">
  <span style="float:right">
    <fa name="plus fa-2x" (click)="isCreateMode = !isCreateMode">
    </fa>
  </span>
</div>


<div class="list-of-tasks">

  <div class="single-task" *ngFor="let task of tasks; let i = index">


    <h2 class="title">{{task.getTitle()}} id: {{task.getId()}}</h2>
    <div class="edit-delete-menu">
      <fa name="pencil" (click)="startEditTask(task)"></fa>
      <fa name="trash" (click)="deleteTask(task,i)"></fa>
    </div>

    <p class="task-title">{{task.getContent()}}</p>
  </div>


</div>


<app-modal
  [isVisible]="isCreateMode || !!editId"
  (close)="onClose()"
>
  <div class="task-creator container">

    <div class="input-section">
      <div class="field">
        <label for="title-input">Title</label>
        <div class="control">
          <input class="input" type="text" placeholder="Title" id="title-input" required [(ngModel)]="newTaskTitle">
        </div>
      </div>
    </div>

    <div class="input-section">
      <div class="field">
        <label for="content-input">Content</label>
        <div class="control">
          <textarea class="textarea" type="text" placeholder="Content" id="content-input" required [(ngModel)]="newTaskContent">
          </textarea>
        </div>
      </div>
    </div>

    <div>
      <button *ngIf="isCreateMode" class="button is-primary" (click)="createTask()">Create task</button>
      <button *ngIf="editId" class="button is-primary" (click)="editTask(editId)">Save changed task</button>
    </div>

  </div>
</app-modal>

